.nav-cnt .wrap-section .w-lngs, .nav-cnt .wrap-section .lng, .ui-wrap .nav-box .nav-cnt .section.cnt {
    margin: 0 !important;
}
.nav-cnt .wrap-section .lng {
    display: none !important;
}
.nav-cnt .wrap-section .w-lngs {
    width: 100%;
    padding: 20px !important;
}
.nav-cnt .cnt .main-icon {
    display: none !important;
}
.nav-cnt .cnt .icnt {
    padding: 0 !important;
}
.ui-wrap .nav-box .nav-cnt .section.cnt > .arrow {
    right: 10px !important;
}
.ui-wrap .nav-box .nav-cnt {
    width: unset !important;
    box-shadow: 1px 2px 5px #474e68;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}